* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(1, 43, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 500px;
  height: 60vh;
  background-color: rgb(56, 85, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}
.form-input input {
  padding: 8px 5px;
  outline: unset;
}
.submit-button button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(3, 18, 106);
  border: unset;
  color: white;
}
